.left,
.right {
  position: absolute;
  bottom: 50%;
  width: 22px;
  height: 36px;

  .icon {
    width: 22px;
    height: 36px;
    transition: opacity 0.3s;
    background-size: contain;
    background-color: transparent;
    opacity: 0.5;
    margin: 0 12px;
    border: none;
    outline: none !important;
    cursor: pointer;

    &Hover {
      opacity: 1;
    }

    &[disabled] {
      opacity: 0;
      cursor: default;
    }
  }
  :focus {
    outline: 0;
  }

  .shadow {
    position: absolute;
    z-index: 0;
    width: 200px;
    pointer-events: none;
    height: 150px;
    opacity: 0;

    &Hover {
      opacity: 1;
    }
  }
}

.left {
  left: 0;
  text-align: left;

  .shadow {
    background-image: radial-gradient(
      ellipse 200px 135px at 0px 130px,
      #000,
      rgba(#000, 0)
    );
    left: -20px;
  }
}

.right {
  right: 24px;

  .icon {
    transform: rotate(180deg);
  }

  .shadow {
    background-image: radial-gradient(
      ellipse 200px 135px at 200px 130px,
      #000,
      rgba(#000, 0)
    );
    right: -20px;
  }
}
