*:last-child > .general {
  border-right: 0;
}

.general {
  border-right: 1px dotted rgba(255, 255, 255, 0.4);
  margin-top: 6px;
  max-width: 290px;
  width: 290px;
  height: 120px;

  &Desktop {
    max-width: 370px;
    width: 370px;
  }
}

.header {
  display: flex;
  padding-top: 6px;
  opacity: 0.9;
  font-size: 12px;
  line-height: 24px;

  .start {
    flex: 1;
    padding-left: 16px;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

.teams {
  padding: 6px 16px 12px 16px;
  flex: 1;
  display: flex;

  .team {
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    line-height: 24px;
    overflow: hidden;
    flex-basis: 40%;

    .flag {
      width: 24px;
      height: 24px;
    }

    .name {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      font-size: 14px;
      line-height: 24px;
    }

    &.home {
      justify-content: flex-start;
      margin-right: 12px;

      .flag {
        margin-right: 12px;
      }
    }

    &.away {
      justify-content: flex-end;
      margin-left: 12px;

      .flag {
        margin-left: 12px;
      }
    }
  }

  .score {
    flex: 0 0 auto;
    line-height: 24px;
    font-size: 24px;

    small {
      font-size: 14px;
      padding: 0 6px;
      vertical-align: top;
    }
  }
}

.outcomes {
  display: flex;
  margin-left: 16px;
  margin-right: 16px;

  > * {
    margin-left: 3px;
    flex: 1;

    &:first-child {
      margin-left: 0;
    }
  }

  .liveLabel {
    text-transform: uppercase;

    em {
      color: red;
      padding-right: 6px;
    }
  }
}
