.general {
  width: 240px;
  padding: 0 0.5rem;
  animation: fadeIn ease-in 1;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
  z-index: 1;

  ul {
    padding: 0;
    margin-bottom: 0;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }
}

.title {
  margin: 0;
  letter-spacing: 0.7px;
}

.nav {
  text-decoration: underline;
  opacity: 0.8;
  cursor: pointer;
  margin-top: 0.8rem;

  &:hover {
    opacity: 1;
  }
}
