.general {
   display: flex;
   align-items: center;
   height: 120px;
   flex-wrap: wrap;
   overflow: visible;
   z-index: 1;
   max-width: 150px;

   i {
      background: no-repeat 50%;
      background-size: contain;
      height: 80px;
      width: 80px;
      min-width: 80px;
      flex-basis: 100%;
   }

   &.scrolledListHasHorizontalSpaceLeft {
      width: 0;
      max-width: 0;
      direction: rtl;
   }


   &.desktop {
      height: 100%;
      align-self: center;
      display: flex;
      flex-direction: row;
      text-align: center;
      justify-content: center;
      max-width: 180px;

      i {
         flex-basis: 100%
      }
   }

   .tournament {
      flex-basis: 100%;
      text-align: center;
      p {
         margin: 0;
         line-height: 1.4;

         &:first-child {
            font-weight: 600;
            font-size: 1.2rem;
            margin-top: .5rem;
            letter-spacing: .7px;
         }
      }         
   }
}
