.widget {
   color: white;
   position: relative;
   padding: 12px 0;
}

.topArea {
   display: flex;
   max-width: 850px;
   min-width: 650px;
   margin: 0 auto 1rem auto;
   justify-content: space-between;
   padding: 0 2rem;
}
